#root {
  height: 100%; /* Setzt die Höhe des Root-Elements auf 100% */
  display: flex; /* Flexbox für Layout */
  flex-direction: column; /* Vertikale Ausrichtung */
}
html, body {
  height: 100%; /* Setzt die Höhe des HTML- und Body-Elements auf 100% */
  margin: 0; /* Entfernt Standardabstände */
  font-family: Arial, sans-serif; /* Optional: Setzt die Schriftart */
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

